# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov
*.code-workspace
.vscode
.VSCodeCounter

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# 自定义
z参考
library
library/*
library/SillyTavern/CharacterCard
projects
projects/*
.obsidian
# 实际配置文件 (不应提交)
config.json
# 本地生成的数据 (例如用户数据)
data/
userData/
# apps/backend/drizzle/migrations

public/*